# ===============================================
# Ficheiros e pastas específicos do projeto
# ===============================================

# Ignorar base de dados DuckDB
*.duckdb
*.duckdb.wal


# Ignorar ficheiros de dados grandes (CSV, Parquet, etc.)

# Ignora toda a pasta data, exceto s3_paths.txt
data/**
!data/1m/
!data/1m/s3_paths.txt
!data/.gitkeep

# (ou, se quiseres só por extensão, em qualquer pasta)
**/*.csv
**/*.parquet
**/*.tsv
**/*.json
**/*.xlsx

#data/*.csv
#data/*.parquet
#data/*.tsv
#data/*.json
#data/*.xlsx

# ===============================================
# Visual Studio Code
# ===============================================
.vscode/
.history/
*.code-workspace

# ===============================================
# Ambientes virtuais (Python / Conda / venv)
# ===============================================
venv/
.env/
.env.bak/
*.env
.venv/
.venv-franco/

env/

# ===============================================
# Jupyter Notebooks
# ===============================================
.ipynb_checkpoints/
*.ipynb_save

# ===============================================
# Ficheiros temporários e logs
# ===============================================
*.tmp
*.log
*.bak
*.swp

# ===============================================
# Ficheiros de sistema
# ===============================================
.DS_Store
Thumbs.db
desktop.ini

# ===============================================
# Python cache / build
# ===============================================
__pycache__/
*.py[cod]
*.pyo
build/
dist/
*.egg-info/

