# ===============================================
# Ficheiros e pastas específicos do projeto
# ===============================================

# Ignorar base de dados DuckDB
*.duckdb
*.duckdb.wal

# Ignorar ficheiros de dados grandes (CSV, Parquet, etc.)
data/*.csv
data/*.parquet
data/*.tsv
data/*.json
data/*.xlsx

# ===============================================
# Visual Studio Code
# ===============================================
.vscode/
.history/
*.code-workspace

# ===============================================
# Ambientes virtuais (Python / Conda / venv)
# ===============================================
venv/
.env/
.env.bak/
*.env
.venv/


# ===============================================
# Jupyter Notebooks
# ===============================================
.ipynb_checkpoints/
*.ipynb_save

# ===============================================
# Ficheiros temporários e logs
# ===============================================
*.tmp
*.log
*.bak
*.swp

# ===============================================
# Ficheiros de sistema
# ===============================================
.DS_Store
Thumbs.db
desktop.ini

# ===============================================
# Python cache / build
# ===============================================
__pycache__/
*.py[cod]
*.pyo
build/
dist/
*.egg-info/

